/* /Components/Map.razor.rz.scp.css */
.map-image[b-s5g7okepyo] {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-trinkets[b-s5g7okepyo] {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top:0;
    left:0;

    pointer-events: none;
}

.map-trinket-content-center[b-s5g7okepyo] {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
}

.map-trinket[b-s5g7okepyo] {
    position: absolute;
}
 
.map-holder[b-s5g7okepyo] {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-wrapper[b-s5g7okepyo] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

.map-container[b-s5g7okepyo] {
    position: relative;
    top: 0;
    left: 0;
}

.interaction-region[b-s5g7okepyo] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    user-select: none;
    pointer-events: all;
}
/* /Components/TooltipDisplay.razor.rz.scp.css */
.tooltip-display-wrapper[b-oafs8wsskm] {
    position:fixed;
    pointer-events: none;

    background-color: rgb(20, 20, 20);
    padding: 1rem;

    color: white;
}


#tooltip-display-raidboss[b-oafs8wsskm] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* /Pages/Raidbosses.razor.rz.scp.css */
td.table-success[b-d1wzk2uyx6] {
    background-color: lightgreen;
}

td.table-danger[b-d1wzk2uyx6] {
    background-color: indianred;
}
/* /Pages/WorldMap.razor.rz.scp.css */
.map[b-zr9oq4tpgn] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavMenu.razor.rz.scp.css */
