@inject TooltipService service

<div @ref="wrapperRef" style="@WrapperStyle"
     @onmouseover="Show"
     @ontouchstart="Show"
     @ontouchleave="Hide"
     @ontouchend="Hide"
     @onmouseout="Hide"
     @ondeactivate="Hide"
     >
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public TooltipType TooltipType { get; set; }

    [Parameter] public object Data { get; set; }

    [Parameter] public bool Absolute { get; set; }

    public ElementReference wrapperRef;

    public string WrapperStyle
    {
        get
        {
            return "display: inline-flex; " + (!Absolute ? "" :
                "position: absolute; top: 0; left: 0; width: 100%; height: 100%;"

                );
        }
    }

    public void Hide()
    {
        service.Hide(this);
    }

    public void Show()
    {
        service.Display(this);
    }
}
