@page "/"

<h1>Hello,</h1>
<h5>This site is made by the community of L2Reborn, L2Reborn is not responsible for any of the features of this site.</h5>
<h5>You can play L2Reborn at: <a href="https://l2reborn.com/">https://l2reborn.com/</a></h5>