@page "/"

<MatH3>
    Hello
</MatH3>

<p>This site is made by the community of L2Reborn, L2Reborn is not responsible for any of the features of this site.</p>
<p>You can play L2Reborn at:</p>
<MatButtonLink Href="https://l2reborn.com/" Target="_blank">L2Reborn</MatButtonLink>