@page "/"

<h1>Hello,</h1>

<p>This site was created by a random guy with too much time on his hands.</p>
<p>This site is NOT approved or supported by <a>https://l2reborn.com</a></p>
<p>Check out <a>https://l2reborn.com</a> for official resources!</p>