@page "/world-map"

<div class="map">
    <Map @ref="map"></Map>
</div>

@code {
    Map map;

    private double _zoom = 0;

    public bool panelOpen;

    protected override Task OnInitializedAsync()
    {
        App.OnWheel += (delta) => {
            _zoom = Math.Clamp(_zoom - delta * 0.0001f, 0, 1);
            map.SetZoomPercentValue(_zoom);
        };

        return base.OnInitializedAsync();
    }
}
